body {
    background-color: #cccccc;
}

h1 {
    padding: 0px 10px;
    font-size: 3.2em;
    line-height: 1.1;
    font-weight: 500;
    color: #273263;
    display: block;
    
    font-weight: bold;
}

button {
    border-radius: 8px;
    border: 3px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #aaa9a9;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #273263;  
} 

div{
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    background-color: #606ead;
}

#coordinates, #buttons {
    align-items: center;
    display: flex; 
    justify-content: space-around;
    align-items: stretch;
}

/* Coordinates Div */

#coordinates{
    height: 40px;
    justify-content: flex-start;
}

#coordinates p{
    width: 20%;
    font-size: 20px;
    margin: auto 0;
}

form {
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 50%;
}

#ok{
    margin-left: auto ;
}

input{
    width: 45%;
}

/* Buttons div */

#buttons button{
    width: 24%;
}


/* Root div */

#root{
    padding: 0px 10px;
    font-size: 20px;
}

#dayTemp{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#hourProb{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bold{
    font-weight: bold;
    padding: 0;
    margin: 0;
}

span{
    text-align: center;
}